$ae-text-caption-padding-base: $ae-text-padding-base * 0.4 !default;
$ae-text-caption-padding-ends: $ae-text-caption-padding-base !default;
$ae-text-caption-padding-sides: $ae-text-caption-padding-base !default;
$ae-text-caption-margin: $ae-text-caption-padding-base !default;
$ae-text-caption-font-size: $ae-text-font-size * 0.7 !default;
$ae-text-caption-border-width: $ae-text-border-width !default;
$ae-text-caption-border-radius: $ae-default-border-radius !default;
$ae-text-caption-text-align: $ae-text-text-align !default;
$ae-text-caption-line-height: $ae-default-line-height * 0.7 !default;

$ae-text-caption-left-margin: 5% !default;
$ae-text-caption-right-margin: 5% !default;
